@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 175px;
    padding: 20px 0;
}

.section-container {
    height: 40vh;
    margin-top: 40px;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
}

textarea {
    width: 98%;
    height: 60%;
    border: 1px solid #ced4da;
    border-radius: 10px;
    font-family: Inter;
    font-size: 1.1rem;
    resize: none;
}

.text-area::placeholder {
    /* Firefox, Chrome, Opera */
    text-align: justify;
}

.text-area::-ms-input-placeholder {
    /* Microsoft Edge */
    text-align: justify;
}

.text-area:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    text-align: justify;
}

textarea:focus {
    outline: none;
}

.btn-convert {
    background-color: #5095f8;
    border: 1px solid #5095f8;
    color: #fff;
    padding: 14px;
    margin-top: 25px;
    width: 325px;
    border-radius: 10px;
    font-size: 1.25rem;
    cursor: pointer;
}

.audio-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.play {
    margin-right: 50px;
}

.download {
    margin-left: 50px;
}

.audio-button {
    font-size: 4rem;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

.audio-button:disabled {
    opacity: .5;
}

.icon-btn {
    color: #5095f8;
}

.progress-container {
    width: 100%;
    background-color: #ccc;
    height: 8px;
    margin: 0 0 10px;
}

.progress-bar {
    background-color: #007bff;
    height: 100%;
    width: 0;
}

@media screen and (max-width: 390px) {
    * {
        padding: 0;
        margin: 0;
    }

    .container {
        margin-left: 20px;
        margin-right: 1px;
    }

    .section-container {
        width: 32vh;
        height: 50vh;
        padding-bottom: 0;
        padding-top: 40px;
    }

    textarea {
        width: 88%;
    }

    .btn-convert {
        width: 32vh;
    }

    .audio-container {
        margin-top: 0;
    }

    .play {
        margin-right: 30px;
    }

    .download {
        margin-left: 30px;
    }
}